*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 body{ 
background-image: url('resize-16979626751828222375imageedit24327279703.png');
 background-repeat: no-repeat;
background-size: cover;    
height: 100vh;
width:100% ;
} 
.full{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  height: 100vh;
  gap: 4rem;
}
.full h1{
font-size: 7rem;
font-weight: 700;
font-family: 'Lilita One', sans-serif;
text-shadow: 4px 4px 4px #a146b0;
letter-spacing: 0.1rem;
color: #2f2a2aeb;
position: relative;
z-index: 1;
margin-top: 3rem;
}
.login{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 30rem;
  width: 25rem;
opacity: 0.9;
/* margin-top: 15rem; */
border-radius: 3rem;
border:  3px solid #a146b0;
box-shadow:3px  3px 3px #a146b0 ;
justify-content: center;
align-items: center;
gap: 3rem;
}
.login h3,.login1 h3{
  font-size: 4rem;
  color: #a146b0;
  font-family: 'Courgette', cursive;
  font-weight: 800;
  margin-bottom:2rem ;
}
.button{
  height: 3rem;
  width: 12rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  background-color: #a146b0;
}
.login1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  height: 25rem;
  width: 25rem;
opacity: 0.9;
/* margin-top: 15rem; */
border-radius: 3rem;
border:  3px solid #a146b0;
box-shadow:3px  3px 3px #a146b0 ;
justify-content: center;
align-items: center;
gap: 3rem;
}
.login1 input{
  height:3rem ;
  width: 18rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 3rem;
}
.login1 input:hover{
  transform: scaleX(1.2);
  transition: transform 0.2s;
  border:  4px solid #a146b0;
box-shadow:4px  4px 4px #a146b0 ;
}
@media(max-width:540px){
  .full h1{
    font-size: 4rem;
  }
  .login{
    width: 17rem;
  }
  .login h3{
    font-size: 3rem;
  }
  .login1{
    width: 17rem;
  }
  .login1 input{
    width:12rem ;
  }
}
@media(max-width:320px){
  .full h1{
    font-size: 2.5rem;
  }
  .login{
    width: 12rem;
  }
  .button{
    width: 8rem;
  }
  .login h3{
    font-size:1.2rem;
  }
.login1{
  width:10rem ;
}

}
#List li{
  font-size: 2rem;
  color: white;
  font-family: 'Courgette', cursive;
  list-style: none;
  padding: 1rem;
}


