*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color:#211f1f;
    opacity: 0.9;
}
nav span{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Courgette', cursive;
    color:#a146b0 ;
}