*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color:#211f1f;
    opacity: 0.9;
}
nav span{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Courgette', cursive;
    color:#a146b0 ;
}
#welcome{
    margin-left: 1.5rem;
}
body{
    background-color:#E1BEE7;
}
/* .container{
    display: flex;
} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}
#ques h2{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 2rem;
    font-family: 'Carter One';
    margin: 1rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
.choice{
    display: flex;
    /* gap: 2rem; */
    background-color:#efe9e9;
    height: 3rem;
    align-items: center;
    margin-bottom: 2rem;
}
.option{
    font-size: 2rem;
    background-color: #a146b0;
    color: black;
    width:3rem ;
    height: 3rem;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.value{
   font-size: 1.5rem;
   font-weight: 500;
   height: 100%;
   width: 100%;
   border: none;
   background-color:#efe9e9 ;
   text-align: left;
  padding-left: 2rem;
}
#options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#next,#end{
    width:8rem;
    background-color: #a146b0;
    height: 3rem;
    font-family: 'Carter One';
    font-size: 1.5rem;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    margin-right: 1.5rem;
}
#review,#submit{
    width: 9rem;
    background-color: #a146b0;
    height: 2rem;
    font-family: 'Carter One';
    font-size: 0.9rem;
    margin: 1.3rem;
}
.buttons{
    display: flex;  
}
.button{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
@media(max-width:400px){
    nav span{
        font-size: 1.8rem;
    }
    #ques h2{
        font-size: 1rem;
    }
    .value{
        font-size: 1rem;
        }

    }
    @media(max-width:250px){
        nav span{
            font-size: 1.2rem;
        }}
.status{
    position: relative;
    background-color: #a146b0;
    width: 15rem;
   display: flex;
flex-wrap: wrap;
}
.status span{
    padding: 1rem;
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius:2rem ;
    text-align: center;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}